html {
    font-family: 'Itim', cursive;
}

.navbar {
  height: 50px;
}

.navbar-brand {
  font-size: 24px;
}

nav ul{
  list-style: none;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

nav ul li{
  display: inline-block;
  position: relative;
}

.navbarbuttons{
  position: absolute;
  right: 0;
}

nav > img {
  width: 50px;
}

body {
  font-family: 'Itim', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #343a40;
  color: #ffffff;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}


section {
  padding: 4rem 0;
}

.content{
  padding: 55px;
  padding-top: 90px;
}

.content > img{
  width: 100%;
  height: auto;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.bunny-container{
  max-width: fit-content;
  display: flex;
  flex-flow: row wrap ;
  justify-content: center;
}

.bunny-card {
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 10px;
  background-color: lightblue;
  width: auto;
  height: auto;
}

.bunny-card img {
  width: 300px;
  border-radius: 8px;
}

.bunnyprofile {
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: lightblue;
  display: flex;
  flex-direction: row;
}

.description {
  padding: 5%;
}

#about-us{
  opacity: 0; 
  transition: opacity 0.5s ease-in-out;
  border: 2px solid black;
  border-radius: 8px;
  background-color: lightblue;
  margin-top: 80px;
}

#about-us.show {
  opacity: 1;
}

#adoption-process{ 
  border: 2px solid black;
  border-radius: 8px;
  background-color: lightblue;
}

#contact-form{
  margin-top: 80px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: lightblue;
}

.slider{
  margin:50px auto;
  width:50%;
}
 
.img-box img{
  width:100%;
}

.btn{
  font-family: 'Itim', cursive;
  border: 2px solid black;
  border-radius: 8px;
  background: lightblue;
  padding: 10px 30px;
  font-size: 20px;
  color: black;
  cursor: pointer;
  margin: 10px auto;       
}

.btn:hover{
  background: #343a40;
  color: white;
}

footer {
  text-align: center;
}