
body {
    padding-top: 56px; /* Adjust based on your navbar height */
    font-family: 'Lexend', sans-serif;
}

header {
    background-color: #343a40;
    color: #ffffff;
    padding: 1rem 0;
}

section {
    padding: 4rem 0;
}

.dog-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.dog-card img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.testimonial-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.testimonial-card img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 2rem 0;
}